AWSTemplateFormatVersion: '2010-09-09'
Transform: 'AWS::Serverless-2016-10-31'
Description: >-
  Lambda-based PDF metadata recognizer ({{ node_env }})

Resources:
  ProxyFunction:
    Type: 'AWS::Serverless::Function'
    Properties:
      FunctionName: {{ function_proxy }}
      CodeUri: ./
      Handler: lambda-proxy.handler
      Runtime: nodejs8.10
      MemorySize: 128
      Timeout: 30
      Policies:
        - LambdaInvokePolicy:
           FunctionName: {{ function_main }}
      Events:
        # API Gateway
        API:
          Type: Api
          Properties:
            Path: /{proxy+}
            Method: post
      Environment:
        Variables:
          NODE_ENV: {{ node_env }}
          FUNCTION_MAIN: {{ function_main }}

  MainFunction:
    Type: 'AWS::Serverless::Function'
    Properties:
      FunctionName: {{ function_main }}
      CodeUri: ./
      Handler: server.handler
      Runtime: nodejs8.10
      MemorySize: 512
      Timeout: 30
      Policies:
        - VPCAccessPolicy: {}
        - S3ReadPolicy:
           BucketName: !Ref UploadBucket
        - S3CrudPolicy:
            BucketName: !Ref ReportBucket
      VpcConfig:
        SecurityGroupIds:
          - !Ref LambdaSecurityGroup
        SubnetIds: !Split [ ",", !ImportValue PrivateVPCSubnets ]
      Environment:
        Variables:
          NODE_ENV: {{ node_env }}

  LambdaSecurityGroup:
    Type: AWS::EC2::SecurityGroup
    Properties:
      GroupName: {{ security_group_name }}
      GroupDescription: Lambda to recognize PDF metadata ({{ node_env }})
      VpcId: !ImportValue VPCID

  UploadBucket:
    Type: AWS::S3::Bucket
    Properties:
      BucketName: {{ upload_bucket_name }}
      BucketEncryption:
        ServerSideEncryptionConfiguration:
        - ServerSideEncryptionByDefault:
            SSEAlgorithm: AES256
      LifecycleConfiguration:
        Rules:
          - Id: Purge After 1 Day
            ExpirationInDays: 1
            Status: Enabled

  ReportBucket:
    Type: AWS::S3::Bucket
    Properties:
      BucketName: {{ report_bucket_name }}
      BucketEncryption:
        ServerSideEncryptionConfiguration:
          - ServerSideEncryptionByDefault:
              SSEAlgorithm: AES256
    DeletionPolicy: Delete

  DBSecurityGroupIngress:
    Type: AWS::EC2::SecurityGroupIngress
    Properties:
      Description: PDF Recognizer Lambda ({{ node_env }})
      GroupId: {{ db_security_group_id }}
      IpProtocol: tcp
      FromPort: 3306
      ToPort: 3306
      SourceSecurityGroupId: !Ref LambdaSecurityGroup

  BasePathMapping:
    Type: AWS::ApiGateway::BasePathMapping
    Properties:
      BasePath: {{ services_endpoint }}
      DomainName: !ImportValue ServicesAPIDomainName
      RestApiId: !Ref ServerlessRestApi
      Stage: Prod

Outputs:
  API:
    Value: !Sub "https://${ServerlessRestApi}.execute-api.${AWS::Region}.amazonaws.com/Prod/"
