AWSTemplateFormatVersion: '2010-09-09'
Transform: 'AWS::Serverless-2016-10-31'
Description: >-
  Lambda-based PDF metadata recognizer ({{ node_env }})
Resources:
  Proxy:
    Type: 'AWS::Serverless::Function'
    Properties:
      FunctionName: {{ function_proxy }}
      CodeUri: ./
      Handler: lambda-proxy.handler
      Runtime: nodejs8.10
      MemorySize: 128
      Timeout: 30
      Policies:
        - S3ReadPolicy:
           BucketName: {{ upload_bucket_name }}
        - LambdaInvokePolicy:
           FunctionName: {{ function_main }}
      Events:
        # API Gateway
        API:
          Type: Api
          Properties:
            Path: /{proxy+}
            Method: post
      Environment:
        Variables:
          NODE_ENV: {{ node_env }}
          FUNCTION_MAIN: {{ function_main }}
  Main:
    Type: 'AWS::Serverless::Function'
    Properties:
      FunctionName: {{ function_main }}
      CodeUri: ./
      Handler: server.handler
      Runtime: nodejs8.10
      MemorySize: 512
      Timeout: 30
      Policies:
        - VPCAccessPolicy: {}
      VpcConfig:
        SecurityGroupIds:
          - !Ref LambdaSecurityGroup
        SubnetIds: {{ subnet_ids }}
      Environment:
        Variables:
          NODE_ENV: {{ node_env }}
  LambdaSecurityGroup:
    Type: AWS::EC2::SecurityGroup
    Properties:
      GroupName: {{ security_group_name }}
      GroupDescription: Lambda to recognize PDF metadata
      VpcId: {{ vpc_id }}
  UploadBucket:
    Type: AWS::S3::Bucket
    Properties:
      BucketName: {{ upload_bucket_name }}
      BucketEncryption:
        ServerSideEncryptionConfiguration:
        - ServerSideEncryptionByDefault:
            SSEAlgorithm: AES256
      LifecycleConfiguration:
        Rules:
          - Id: Purge After 1 Day
            ExpirationInDays: 1
            Status: Enabled
Outputs:
  RecognizerUploadBucketArn:
    Value:
      Fn::GetAtt: [ UploadBucket, Arn ]
    Export:
      Name: RecognizerUploadBucketArn
